careticket.txt
[
    {
        "id": "ae932091.8165e",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "GET /network/peers",
        "url": "/network/peers",
        "method": "get",
        "swaggerDoc": "",
        "x": 277,
        "y": 1312,
        "wires": [
            [
                "2755d7a7.693928"
            ]
        ]
    },
    {
        "id": "9cd26f7c.21f5a",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 753,
        "y": 213,
        "wires": [
            [
                "dd4ec442.318b08"
            ]
        ]
    },
    {
        "id": "9682bb5c.1e0408",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Registrar",
        "func": "var api_host = \"https://682f92463c3b4f539a267c49547c5292-vp0.us.blockchain.ibm.com\";\nvar api_port = 445;\nvar api_port_tls = 443;\n\n//var data = { \"enrollId\": \"<YOUR-USER-NAME>\", \"enrollSecret\": \"<YOUR-ENROL-SECRET>\"}\n// 7c7356164d3ccec82c2d7fb399e69f372f54aebed77fc0c11383405d437afe91dfba44dd35852bd533b1d76f451fdc1d18d79e18ae5f02a64863577c16b4d501\n\nvar data = { \"enrollId\": \"admin\", \"enrollSecret\": \"7add551955\"}\n\nvar msg = {\n    \"method\" : \"POST\",\n    \"url\" : api_host + ':' + api_port + '/registrar',\n    \"headers\" : {\n        \"Content-Type\": \"application/json\"\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 508,
        "y": 214,
        "wires": [
            [
                "9cd26f7c.21f5a",
                "131b047.02724fc"
            ]
        ]
    },
    {
        "id": "dd4ec442.318b08",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 980,
        "y": 213,
        "wires": []
    },
    {
        "id": "ba5a7978.0fac08",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "post /registrar",
        "url": "/registrar",
        "method": "get",
        "swaggerDoc": "",
        "x": 417,
        "y": 167,
        "wires": [
            [
                "9682bb5c.1e0408"
            ]
        ]
    },
    {
        "id": "131b047.02724fc",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "Debug Output",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 607,
        "y": 167,
        "wires": []
    },
    {
        "id": "546fa263.b33f3c",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "post /chaincode",
        "url": "/chaincode",
        "method": "post",
        "swaggerDoc": "",
        "x": 372.5,
        "y": 443,
        "wires": [
            [
                "57a155d8.0ba5ec"
            ]
        ]
    },
    {
        "id": "57a155d8.0ba5ec",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Chaincode",
        "func": "var api_host = \"https://682f92463c3b4f539a267c49547c5292-vp0.us.blockchain.ibm.com\";\n\nvar api_port = 445;\nvar api_port_tls = 443;\n\n// https://github.com/bluemixlabs/careticket/chaincode/go/smartAirQuality\n\nvar data = {\n             \"jsonrpc\": \"2.0\",\n             \"method\": \"deploy\",\n             \"params\": {\n               \"type\": 1,\n               \"chaincodeID\":{\n                   \"path\":\"https://github.com/bluemixlabs/careticket/chaincode/go/smartAirQuality\"\n               },\n               \"ctorMsg\": {\n                   \"function\": \"init\",\n                   \"args\": [\n                              \"{\\\"version\\\":\\\"1.0\\\"}\"\n                           ]\n                   \n               },\n               \"secureContext\": \"admin\"\n             },\n             \"id\": 1\n            }\n\nvar msg = {\n    \"method\" : \"POST\",\n    \"url\" : api_host + ':' + api_port + '/chaincode',\n    \"headers\" : {\n        \"Content-Type\": \"application/json\"\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 471,
        "y": 391,
        "wires": [
            [
                "e2842b5a.a50268"
            ]
        ]
    },
    {
        "id": "2a75b562.16c44a",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Fitbit",
        "func": "var apikey = \"Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIzNThYR0wiLCJhdWQiOiIyMjdNRjkiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyYWN0IHJsb2MgcmhyIHJwcm8iLCJleHAiOjE0ODAxMDg3NTMsImlhdCI6MTQ3NzUxNjc1M30.oIwD631SPwM9a0QX4uBSCFtFOn7-hRg2TiQXZWc4B8M\";\n\n// \"-\" (dash) for current logged-in user.\nvar user_id = \"-\";\n\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"Authorization\": apikey };\nmsg.payload = JSON.stringify(data);\nmsg.url = \"https://api.fitbit.com/1/user\" + \"/\" + user_id + \"/profile.json\";\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 411,
        "y": 1682,
        "wires": [
            [
                "ae9bbc46.d390c"
            ]
        ]
    },
    {
        "id": "68975280.4eecdc",
        "type": "function",
        "z": "77399365.09372c",
        "name": "AWAIR ",
        "func": "var apikey = \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiMTc5MiJ9.F9yF52gsH0cEl1Df8SAN1rBuAnyhyIkpv2438unMKVM\";\nvar user_id = \"self\";\n\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"Authorization\": apikey };\nmsg.payload = JSON.stringify(data);\nmsg.url = \"https://beta-api.awair.is/v1/users\" + \"/\" + user_id + \"/devices\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 421,
        "y": 1721,
        "wires": [
            [
                "93d03c0a.0284d"
            ]
        ]
    },
    {
        "id": "b131354d.e21558",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 859,
        "y": 1700,
        "wires": []
    },
    {
        "id": "ae9bbc46.d390c",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 640,
        "y": 1682,
        "wires": [
            [
                "5ff807c1.6cc748",
                "b131354d.e21558",
                "ccb7b849.5ac2a8"
            ]
        ]
    },
    {
        "id": "70c23b05.b5fa54",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1079.5,
        "y": 1718,
        "wires": []
    },
    {
        "id": "673ae6b.a278c18",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "/fitbit",
        "url": "/fitbit",
        "method": "get",
        "swaggerDoc": "",
        "x": 296,
        "y": 1657,
        "wires": [
            [
                "2a75b562.16c44a"
            ]
        ]
    },
    {
        "id": "b7e10fb5.bcc0d",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "/awair",
        "url": "/awair",
        "method": "get",
        "swaggerDoc": "",
        "x": 298,
        "y": 1747,
        "wires": [
            [
                "68975280.4eecdc"
            ]
        ]
    },
    {
        "id": "a440be1c.eb729",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "fitbit",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 173.5,
        "y": 1682,
        "wires": [
            [
                "2a75b562.16c44a"
            ]
        ]
    },
    {
        "id": "f8692555.812268",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "awair",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 174.5,
        "y": 1721,
        "wires": [
            [
                "68975280.4eecdc"
            ]
        ]
    },
    {
        "id": "b432ab36.35cd98",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "registrar",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 303.5,
        "y": 214,
        "wires": [
            [
                "9682bb5c.1e0408"
            ]
        ]
    },
    {
        "id": "f690806b.d1288",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "chaincode",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 257.5,
        "y": 390,
        "wires": [
            [
                "57a155d8.0ba5ec"
            ]
        ]
    },
    {
        "id": "5ff807c1.6cc748",
        "type": "ibmiot out",
        "z": "77399365.09372c",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "fitbit1",
        "deviceType": "Fitbit",
        "eventCommandType": "update",
        "format": "json",
        "data": "temp:10",
        "qos": "",
        "name": "Send to IBM IoT Platform",
        "service": "registered",
        "x": 816,
        "y": 1623,
        "wires": []
    },
    {
        "id": "bcdc391c.fa23a8",
        "type": "ibmiot out",
        "z": "77399365.09372c",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "awair1",
        "deviceType": "AWAIR",
        "eventCommandType": "update",
        "format": "json",
        "data": "temp:10",
        "qos": "",
        "name": "Send to IBM IoT Platform",
        "service": "registered",
        "x": 816,
        "y": 1764,
        "wires": []
    },
    {
        "id": "93d03c0a.0284d",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 639,
        "y": 1721,
        "wires": [
            [
                "b131354d.e21558",
                "70c23b05.b5fa54",
                "e5849a4b.7dfa78"
            ]
        ]
    },
    {
        "id": "ccb7b849.5ac2a8",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1082,
        "y": 1680,
        "wires": []
    },
    {
        "id": "b848b556.793e38",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Inject Node",
        "info": "The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.",
        "x": 157,
        "y": 1648,
        "wires": []
    },
    {
        "id": "246c1506.a9535a",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Inject Node",
        "info": "The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.",
        "x": 159,
        "y": 1754,
        "wires": []
    },
    {
        "id": "a1df9f6d.2c84b",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Debug Node",
        "info": "The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.",
        "x": 1078,
        "y": 1752,
        "wires": []
    },
    {
        "id": "758dd008.33122",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Debug Node",
        "info": "The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.",
        "x": 1081,
        "y": 1647,
        "wires": []
    },
    {
        "id": "c2c1a026.6c28b",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Configure Publish to IoT for your environment",
        "info": "",
        "x": 876,
        "y": 1590,
        "wires": []
    },
    {
        "id": "c19cd0e7.f036f",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Publish to IoT Platform",
        "info": "",
        "x": 607,
        "y": 1519,
        "wires": []
    },
    {
        "id": "b8515984.f6d048",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Function Node",
        "info": "The Function node allows you to pass each message though a JavaScript function.\nCopy the following code.\n\nvar asset = \"CON123\";\nvar longitude1 = [\"-98.49\",\"-97.74\",\"-96.79\",\"-94.20\",\"-90.19\",\"-94.57\",\"-87.62\",\"-87.90\",\"-93.26\",\"-95.99\"];\nvar latitude1  = [\"29.42\",\"30.26\",\"32.77\",\"36.37\",\"38.62\",\"39.09\",\"41.87\",\"43.03\",\"44.97\",\"41.25\"];\nvar temperature1 = context.get('temperature1')||-5;\nvar carrier1 = \"C-ABC\";\n\n\ntemperature1 = temperature1+1;\nif(temperature1 > 5) temperature1=-5;\ncontext.set('temperature1',temperature1);\n\nvar counter1     = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n    \tpayload: JSON.stringify(\n    \t    { d:{\n                 \"assetID\" : asset,\n                 \"location\" : \n                    {\n                    \"longitude\" : longitude1[counter1],\n    \t            \"latitude\" : latitude1[counter1]\n                    },\n                 \"temperature\" : temperature1,\n    \t         \"carrier\" : carrier1\n    \t    }\n    \t    }\n         )\n}\n\nreturn msg;",
        "x": 441,
        "y": 1648,
        "wires": []
    },
    {
        "id": "8056a314.f836",
        "type": "function",
        "z": "77399365.09372c",
        "name": "AWAIR payload",
        "func": "/*\n{\n   \"pagination\":{\n      \"has_next\":false\n   },\n   \"data\":[\n      {\n         \"device_id\":1073,\n         \"device_name\":\"Play Room\",\n         \"room_type\":\"Home\",\n         \"location_name\":\"Cranberry, PA\",\n         \"latitude\":40.7221084918999,\n         \"longitude\":-80.1292103616247,\n         \"owner_type\":\"admin\"\n      },\n      {\n         \"device_id\":4492,\n         \"device_name\":\"My Office\",\n         \"room_type\":\"Office\",\n         \"location_name\":\"Cranberry, PA\",\n         \"latitude\":40.712071815595,\n         \"longitude\":-80.1131942356936,\n         \"owner_type\":\"admin\"\n      }\n   ]\n}\n*/\n\nmsg.payload = msg.payload.data[0];\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 883.5,
        "y": 1919,
        "wires": [
            [
                "7da78ca0.325ff4",
                "bcdc391c.fa23a8"
            ]
        ]
    },
    {
        "id": "7da78ca0.325ff4",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1085,
        "y": 1916,
        "wires": []
    },
    {
        "id": "e5849a4b.7dfa78",
        "type": "json",
        "z": "77399365.09372c",
        "name": "",
        "x": 688.5,
        "y": 1918,
        "wires": [
            [
                "8056a314.f836",
                "c7043ac4.b9c208"
            ]
        ]
    },
    {
        "id": "c7043ac4.b9c208",
        "type": "function",
        "z": "77399365.09372c",
        "name": "AWAIR payload",
        "func": "/*\n{\n   \"pagination\":{\n      \"has_next\":false\n   },\n   \"data\":[\n      {\n         \"device_id\":1073,\n         \"device_name\":\"Play Room\",\n         \"room_type\":\"Home\",\n         \"location_name\":\"Cranberry, PA\",\n         \"latitude\":40.7221084918999,\n         \"longitude\":-80.1292103616247,\n         \"owner_type\":\"admin\"\n      },\n      {\n         \"device_id\":4492,\n         \"device_name\":\"My Office\",\n         \"room_type\":\"Office\",\n         \"location_name\":\"Cranberry, PA\",\n         \"latitude\":40.712071815595,\n         \"longitude\":-80.1131942356936,\n         \"owner_type\":\"admin\"\n      }\n   ]\n}\n*/\n\nmsg.payload = msg.payload.data[1];\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1972,
        "wires": [
            [
                "742b2062.31d0b"
            ]
        ]
    },
    {
        "id": "8a5ce9a.7681f18",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1068,
        "y": 1967,
        "wires": []
    },
    {
        "id": "742b2062.31d0b",
        "type": "delay",
        "z": "77399365.09372c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 905.5,
        "y": 2057,
        "wires": [
            [
                "bcdc391c.fa23a8",
                "8a5ce9a.7681f18"
            ]
        ]
    },
    {
        "id": "359f4e57.968d32",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Flow for Blockchchain Essential Use Case",
        "info": "",
        "x": 615,
        "y": 42,
        "wires": []
    },
    {
        "id": "e2842b5a.a50268",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 704,
        "y": 391,
        "wires": [
            [
                "78a2bdeb.780434",
                "7364402e.4e58a"
            ]
        ]
    },
    {
        "id": "78a2bdeb.780434",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 932,
        "y": 391,
        "wires": []
    },
    {
        "id": "7364402e.4e58a",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 802,
        "y": 447,
        "wires": []
    },
    {
        "id": "41bf0967.809c78",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "GET /transactions/{UUID}",
        "url": "/transactions",
        "method": "get",
        "swaggerDoc": "",
        "x": 295.5,
        "y": 622,
        "wires": [
            [
                "9420b38c.0dae8"
            ]
        ]
    },
    {
        "id": "9420b38c.0dae8",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Transactions",
        "func": "var api_host = \"https://682f92463c3b4f539a267c49547c5292-vp0.us.blockchain.ibm.com\";\nvar api_port = 445;\nvar api_port_tls = 443;\n\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"content-type\": \"application/json\" };\nmsg.payload = JSON.stringify(data);\nmsg.url = api_host + ':' + api_port + '/transactions/11f3301cfa8e9f9493b161c36a80746c2a0351a073c10d361a57fec0602fd0825f2e344359c3016d2f8812409344bd4edfdd49dd9bcd76a30a7049f90245e3c9';\n\nreturn msg;\n\n\n// UUIDs\n\n//e61bd2b5-ed28-46ab-a5a2-ae8fe2c861b2\n\n//72a6f4c1-7f57-4ab6-b0b1-424ea52ddb58\n\n//68fb9bdc-63ef-4969-bbf3-e1a6110a114d\n\n//dae7b360-8202-4dbb-867e-5fd4c4f2d7bb\n\n//   http://aetnacareticket.mybluemix.net/transactions",
        "outputs": 1,
        "noerr": 0,
        "x": 584.5,
        "y": 622,
        "wires": [
            [
                "ffd93ac8.215c18"
            ]
        ]
    },
    {
        "id": "ffd93ac8.215c18",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 818,
        "y": 622,
        "wires": [
            [
                "8d6902d9.9f3bc",
                "ac07bf86.567e9"
            ]
        ]
    },
    {
        "id": "8d6902d9.9f3bc",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 1043,
        "y": 622,
        "wires": []
    },
    {
        "id": "ac07bf86.567e9",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 836,
        "y": 701,
        "wires": []
    },
    {
        "id": "974b90e9.85014",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "transactions",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 334,
        "y": 671,
        "wires": [
            [
                "9420b38c.0dae8"
            ]
        ]
    },
    {
        "id": "3ab4057.b26e2fa",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "GET /chain",
        "url": "/chain",
        "method": "get",
        "swaggerDoc": "",
        "x": 240,
        "y": 1064,
        "wires": [
            [
                "2e532f35.b445f"
            ]
        ]
    },
    {
        "id": "2e532f35.b445f",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Chain",
        "func": "var api_host = \"https://682f92463c3b4f539a267c49547c5292-vp0.us.blockchain.ibm.com\";\nvar api_port = 445;\nvar api_port_tls = 443;\n\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"content-type\": \"application/json\" };\nmsg.payload = JSON.stringify(data);\nmsg.url = api_host + ':' + api_port + '/chain';\nreturn msg;\n\n\n// UUIDs\n\n//e61bd2b5-ed28-46ab-a5a2-ae8fe2c861b2\n\n//72a6f4c1-7f57-4ab6-b0b1-424ea52ddb58\n\n//68fb9bdc-63ef-4969-bbf3-e1a6110a114d\n\n//dae7b360-8202-4dbb-867e-5fd4c4f2d7bb\n\n//   http://aetnacareticket.mybluemix.net/transactions",
        "outputs": 1,
        "noerr": 0,
        "x": 559,
        "y": 1064,
        "wires": [
            [
                "5aa7d723.4dc1d8"
            ]
        ]
    },
    {
        "id": "5aa7d723.4dc1d8",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 812.5,
        "y": 1064,
        "wires": [
            [
                "8ec37c3f.ccae9",
                "201f0a24.c9f956"
            ]
        ]
    },
    {
        "id": "8ec37c3f.ccae9",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 1037.5,
        "y": 1064,
        "wires": []
    },
    {
        "id": "201f0a24.c9f956",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 830.5,
        "y": 1143,
        "wires": []
    },
    {
        "id": "6fa348b.dba8fb8",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "chain",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 308.5,
        "y": 1113,
        "wires": [
            [
                "2e532f35.b445f"
            ]
        ]
    },
    {
        "id": "b769ec64.73e41",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "GET Blockchain",
        "info": "",
        "x": 584,
        "y": 993,
        "wires": []
    },
    {
        "id": "854253a9.72c84",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "GET Transactions",
        "info": "",
        "x": 591,
        "y": 574,
        "wires": []
    },
    {
        "id": "b60a3e32.8d802",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Deploy Chaincode to Blockchain Service",
        "info": "",
        "x": 629,
        "y": 321,
        "wires": []
    },
    {
        "id": "5be97ab2.710944",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "Register a User",
        "info": "",
        "x": 620,
        "y": 112,
        "wires": []
    },
    {
        "id": "67daf437.c517ac",
        "type": "http in",
        "z": "77399365.09372c",
        "name": "GET /chain/blocks/{Block}",
        "url": "/chain/blocks",
        "method": "get",
        "swaggerDoc": "",
        "x": 311,
        "y": 865,
        "wires": [
            [
                "1ee89615.731a5a"
            ]
        ]
    },
    {
        "id": "1ee89615.731a5a",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Blocks",
        "func": "var api_host = \"https://682f92463c3b4f539a267c49547c5292-vp0.us.blockchain.ibm.com\";\nvar api_port = 445;\nvar api_port_tls = 443;\n\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"content-type\": \"application/json\" };\nmsg.payload = JSON.stringify(data);\nmsg.url = api_host + ':' + api_port + '/chain/blocks/3';\nreturn msg;\n\n\n// UUIDs\n\n//e61bd2b5-ed28-46ab-a5a2-ae8fe2c861b2\n\n//72a6f4c1-7f57-4ab6-b0b1-424ea52ddb58\n\n//68fb9bdc-63ef-4969-bbf3-e1a6110a114d\n\n//dae7b360-8202-4dbb-867e-5fd4c4f2d7bb\n\n//   http://aetnacareticket.mybluemix.net/transactions",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 865,
        "wires": [
            [
                "7991058a.1a67bc"
            ]
        ]
    },
    {
        "id": "7991058a.1a67bc",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 833.5,
        "y": 865,
        "wires": [
            [
                "5dcc2411.283a7c",
                "a362f37f.dd2e1"
            ]
        ]
    },
    {
        "id": "5dcc2411.283a7c",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 1058.5,
        "y": 865,
        "wires": []
    },
    {
        "id": "a362f37f.dd2e1",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 851.5,
        "y": 944,
        "wires": []
    },
    {
        "id": "ec7f871a.6c87f8",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "blocks",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 329.5,
        "y": 914,
        "wires": [
            [
                "1ee89615.731a5a"
            ]
        ]
    },
    {
        "id": "59690c24.5d67f4",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "GET Blocks",
        "info": "",
        "x": 588,
        "y": 783,
        "wires": []
    },
    {
        "id": "2755d7a7.693928",
        "type": "function",
        "z": "77399365.09372c",
        "name": "Network",
        "func": "var api_host = \"https://682f92463c3b4f539a267c49547c5292-vp0.us.blockchain.ibm.com\";\nvar api_port = 445;\nvar api_port_tls = 443;\n\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"content-type\": \"application/json\" };\nmsg.payload = JSON.stringify(data);\nmsg.url = api_host + ':' + api_port + '/network/peers';\nreturn msg;\n\n\n// UUIDs\n\n//e61bd2b5-ed28-46ab-a5a2-ae8fe2c861b2\n\n//72a6f4c1-7f57-4ab6-b0b1-424ea52ddb58\n\n//68fb9bdc-63ef-4969-bbf3-e1a6110a114d\n\n//dae7b360-8202-4dbb-867e-5fd4c4f2d7bb\n\n//   http://aetnacareticket.mybluemix.net/transactions",
        "outputs": 1,
        "noerr": 0,
        "x": 576,
        "y": 1312,
        "wires": [
            [
                "b5f7f07a.1067f"
            ]
        ]
    },
    {
        "id": "b5f7f07a.1067f",
        "type": "http request",
        "z": "77399365.09372c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 819.5,
        "y": 1312,
        "wires": [
            [
                "9cff9829.d52dc8",
                "7a2be3e.78ee31c"
            ]
        ]
    },
    {
        "id": "9cff9829.d52dc8",
        "type": "http response",
        "z": "77399365.09372c",
        "name": "",
        "x": 1044.5,
        "y": 1312,
        "wires": []
    },
    {
        "id": "7a2be3e.78ee31c",
        "type": "debug",
        "z": "77399365.09372c",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 837.5,
        "y": 1391,
        "wires": []
    },
    {
        "id": "9decc05a.e5424",
        "type": "inject",
        "z": "77399365.09372c",
        "name": "network peers",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 335.5,
        "y": 1361,
        "wires": [
            [
                "2755d7a7.693928"
            ]
        ]
    },
    {
        "id": "e9ba36de.14a288",
        "type": "comment",
        "z": "77399365.09372c",
        "name": "GET Network Peers",
        "info": "",
        "x": 601,
        "y": 1241,
        "wires": []
    }
]